/** 
bleu foncé : #1b594f
bleu clair : #4ed2bc
blanc : #e2e2e2
**/
body{
    background-image: url('../img/font.jpeg');
    background-size: cover;
    font-family: Georgia, serif;
}
@font-face {
    font-family: titleNana;
    src: url('LaGaglianePersonalUse-w1xV2.ttf');
  }
input{
    background-color: #e2e2e2;
    border: none;
    border-radius: 3px;
}
h1{
    color: #1b594f;
    text-decoration: 6px solid #4ed2bc;
    text-decoration-line:overline;
}
h2{
    color: #1b594f;
    text-decoration: 4px solid #4ed2bc;
    text-decoration-line: underline;
}
th{
    color: #1b594f;
}
.bodyNana{
    padding-left: 5%;
    padding-right: 5%;
    min-height: 800px;
}
.navNana{
    border-bottom: 6px solid #1b594f;
    height: 52px;
}
.tableNana{
    background-color: #4ed2bc9b;
}
.formNana{
    padding: 30px;
    margin: 80px;
    background-color: #4ed2bc9b;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #1b594fc9;
    color: #1b594f;
}
.btnNana{
    background-color: #1b594f;
    color: #e2e2e2;
    padding: 2px;
    border-radius: 3px; 
    box-shadow: 5px 5px 10px #ffffff;
}
.aNana{
    background-color: #1b594f;
    padding: 10px;
    color: #e2e2e2;
    text-decoration: none;
    margin: 5px;
    border-radius: 10px;
}
.aNana:hover{
    color: #1b594f;
    text-decoration: none;
    background-color: #4ed2bc;
    padding: 23px;
    font-size: 20px;
}
footer{
    background:#1b594f;
    color: #e2e2e2;
    position:relative;
    bottom:0;
    width:100%;
    height:30px;
    text-align: center;
    margin-top: 30px;
}
.pNana{
    font-size: 20px;
    font-weight: bold;
    color: #1b594f;
}
.aList{
    text-decoration: none;
    color: #1b594f;
    font-size: 18px;
}
.aList:hover{
    color: #e2e2e2;
}
.textIndex{
    font-style: italic;
    font-size: 20px;
    color: #1b594f;
}
#formPatient{
    display: none;
}
#formDateModif{
    display: none;
}
.aMailPhone{
    font-size: 20px;
    font-weight: bold;
    color: #1b594f;
}
.aMailPhone:hover{
    color: #4ed2bc;
}